<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConfigFile" value="C:\Program Files\OpenAX25\OpenAX25-Service\OpenAX25Config.xml" />
        <add key="LogFile" value="C:\ProgramData\OpenAX25\OpenAX25-Service\Log.log" />
        <add key="LogLevel" value="INFO" />
    </appSettings>
</configuration>